.todo-li {
    list-style: none;
    /* background-color: #E65100; */
    background-color: #ff9100;
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.todo-li .icons-box{
    display: flex;
    gap: 10px;
}