.todo-li {
    list-style: none;
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.todo-li .icons-box {
    display: flex;
    gap: 10px;
    align-items: center;
}